.screen{
    background-color: gray;
    
}

/*UI周りの設定(動画下)*/
#movie-button {
    width:auto;
    height:auto;
    cursor:pointer;/*カーソルを指に変更*/
    margin-right: 80%;
    z-index:1;
    background-color: black;
  }
/*UI周りの設定(動画下)*/
  .movie-button {
    display:flex;
    justify-content:center;
    align-items:center;
  }
  /*全ボタンのレイアウト設定*/
  .movie-button span {
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    font-size:300%;
  }
  /*再生ボタンのレイアウト設定*/
  .movie-button-play {
    color: green;
  }
  /*停止ボタンのレイアウト設定*/
  .movie-button-pause{
    color: red;
  }
  /*再生時間のレイアウト設定*/
  .timestamp{
    color:white;
  }
  .input{
    
  }