#video {
  width: 53%;
  margin: auto;
  display: block;
}
/*UI周りの設定(動画下)*/
#moviefunctionitem {
  background-color: black;
  width: 53%;
  margin: auto;
}
#timestamp {
  color: white;
  margin: auto;
  height: auto;
  display: inline-block;
}
.form-control-range {
  width: 100%;
  max-width: 100%;
  display: block;
}

#titletext {
  text-align: center;
  font-size: 30px;
  font-weight: 800;
  display: none;
}
